<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
<!--    <link rel="stylesheet" href="demo.css">-->
    <title>Document</title>
</head>
<body>
    <div class="responsive-container-block container">
        <p class="text-blk team-head-text">
          Our Team
        </p>
        <div class="responsive-container-block">
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
              </div>
              <p class="text-blk name">
                Member Person
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>